# the data directory - data, timeseries.sqlite
data-dir=./run/data
# maximum number of attempts to download data
download-retries=3
# number of download instances to run
download-workers=5
# output data format. Choose from "mseed" (miniSEED) or "asdf" (ASDF)
output-format=mseed
# name of ASDF file when ASDF output is specified
asdf-filename=asdf.h5
# station service url
station-url=http://service.iris.edu/fdsnws/station/1/query
# availability service url
availability-url=http://service.iris.edu/fdsnws/availability/1/query
# dataselect service url
dataselect-url=http://service.iris.edu/fdsnws/dataselect/1/query
# temporary storage for downloads
temp-dir=./run/tmp
# directory for logs
log-dir=./run/logs
# log verbosity (0-6)
log-verbosity=4
# console verbosity (0-6)
verbosity=4
# auto-start the download progress web server?
web=True
# port for HTTP server
http-port=8000
# address for completion status
email=
# address of SMTP server
smtp-address=localhost
# port for SMTP server
smtp-port=25
